
<ion-header no-border>
  <ion-toolbar  color="light">
    <ion-title>
      <div class="logo no-margin" >
        <img src="assets/imgs/logo.png">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="heading line mt18 mb16">
    <p class="font16">भाषा चुनिए / Choose Your Language</p>
  </div>
  <ion-list radio-group class="mt15" name="lang" [(ngModel)]="lang">
    <!-- <ion-item *ngFor="let row of inputs">
      <ion-label>{{row.hin_language_name}} ({{row.language_name}})</ion-label>
      <ion-radio (click)="set_lang()" checked="{{row.prefix == lang}}" value="{{row.prefix}}"></ion-radio>
    </ion-item> -->
    
    <ion-item>
      <ion-label>अंग्रेज़ी  (English)</ion-label>
      <ion-radio class="primary" (click)="set_lang()" checked="{{'en' == lang}}" value="en"></ion-radio>
    </ion-item>    
    
    <ion-item>
      <ion-label>हिंदी (Hindi)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'hin' == lang}}" value="hin"></ion-radio>
    </ion-item>
    
    <!-- <ion-item>
      <ion-label>ਪੰਜਾਬੀ (Punjabi)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'pb' == lang}}" value="pb"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>বাংলা (Bengali)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'ben' == lang}}" value="ben"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>ଓଡ଼ିଆ ଭାଷା (Odia)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'ori' == lang}}" value="ori"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>मराठी (Marathi)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'mar' == lang}}" value="mar"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>ગુજરાતી (Gujarati)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'guj' == lang}}" value="guj"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>ಕನ್ನಡ (Kannada)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'kan' == lang}}" value="kan"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>తెలుగు (Telugu)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'tel' == lang}}" value="tel"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>മലയാളം (Malayalam)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'mal' == lang}}" value="mal"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>தமிழ்  (Tamil)</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'tam' == lang}}" value="tam"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Spanish</ion-label>
      <ion-radio (click)="set_lang()" checked="{{'spa' == lang}}" value="spa"></ion-radio>
    </ion-item> -->
    
    
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button class="cs-btn no-margin" *ngIf="lang!=''" (click)="karigar_id ? update_lang() : continue()">{{'Continue' | translate}}</button>

  <!-- <button ion-button class="cs-btn no-margin" *ngIf="lang!=''" (click)="update_lang()">{{'Continue' | translate}}</button> -->
</ion-footer>
