<ion-header>
  <ion-navbar>
    <ion-title>{{'Offer Product Details'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div class="slide-image h200">
    <!-- <ion-slides class="cs-slide" *ngIf="offer_prod_detail.image" [initialSlide]="0" pager autoplay="1000" speed="1000" loop="true">
      <ion-slide *ngFor="let row of offer_prod_detail.image; let i=index" (click)="viewDetail(row.image_name)">
        <div class="swiper-zoom-container">
          <img [src]="upload_url+row.image_name">
        </div>
      </ion-slide>
    </ion-slides> -->
    <div class="swiper-zoom-container" *ngIf="offer_prod_detail.image">
      <img [src]="upload_url+offer_prod_detail.image[0].image_name">
    </div>
  </div>
  
 
  <div class="item-table">
    <table>
      <tr>
        <td class="w85">Category :-</td>
        <th>{{offer_prod_detail.category_name}}</th>
      </tr>
      <tr>
        <td class="w85">Product Name :-</td>
        <th>{{offer_prod_detail.product_name | titlecase}}</th>
      </tr>
      <tr>
        <td class="w85">Product Code :-</td>
        <th>{{offer_prod_detail.product_code}}</th>
      </tr>
      <tr>
        <td class="w85">Product Price :-</td>
        <th>&#8377; {{offer_prod_detail.mrp}}</th>
      </tr>
      <tr>
        <td class="w85">Mechanic Point :-</td>
        <th>{{offer_prod_detail.karigar_point}}</th>
      </tr>
      <tr>
        <td class="w85">Dealer Point :-</td>
        <th>{{offer_prod_detail.retailer_point}}</th>
      </tr>
      <tr *ngIf="offer_prod_detail.desc!=''">
        <td class="w85">Description :-</td>
        <th>{{offer_prod_detail.desc}}</th>
      </tr>
    </table>
  </div>
</ion-content>
