<ion-header>
    <ion-navbar>
        <!-- For hindi -->
        <!-- {{lang != 'en' ? prod_cat.hin_category_name : prod_cat.category_name |titlecase}} -->
        <ion-title>{{'Products' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="fix">
        <div class="search">
            <ion-searchbar type='text' placeholder="{{'Search' | translate}}" name='search' #search="ngModel" [(ngModel)]="filter.search" (ngModelChange)="getProductList(cat_id,filter.search)"></ion-searchbar>
        </div>
    </div>
    <div class="pr-list" (click)="goOnProductSubDetailPage(list.id)" *ngFor="let list of prod_list;let i=index">
        <button ion-item>
			<div class="main-bx">
				<div class="bx-left">
					<img src={{upload_url+list.image_name}} *ngIf="list.image_name != null">
                    <img src="assets/imgs/default-image.png" class="h40" *ngIf="list.image_name == null">
				</div>
				<div class="bx-right">
					<!-- For Hindi -->
					<!-- {{lang != 'en' ? list.hin_product_name : list.product_name |titlecase}} -->
					<p>{{list.product_name}}</p>
				</div>
			</div>  
			<i class="material-icons">keyboard_arrow_right</i>
		</button>
    </div>


<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'Loading more data...' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>