page-contact {
    .ab_img{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 16px;
    }
    .nev-adjust{
        height: 0px!important;
    }
}
