<ion-header>
    <ion-navbar>
        <ion-title>{{'My Points' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Refreshing...' | translate}}" refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
        </ion-refresher-content>
    </ion-refresher>
    <div class="top-nav nav-adjust-2">
        <p>{{'Balance Points' | translate}}</p>
        <h1>{{total_balance_point}}</h1>
        <h2> {{'Last updated' | translate}} {{ (karigar_point.balance_update!='0000-00-00') ? (karigar_point.balance_update | date:'d MMMM y') : ('00-00-0000') }}</h2>
      </div>

      <div class="welcome-point">
        <p>{{ 'Welcome Point' | translate}}</p>
        <strong style="position: absolute;top: 101px;right: 17px;">{{ welcomePoint }}</strong>
        <span>{{welcomePoint_date}}</span>
      </div>

    <ion-segment [(ngModel)]="history">
      
        <ion-segment-button value="scanned">
          {{ 'Scanned Points' | translate }}
        </ion-segment-button>
        
        <ion-segment-button value="referral">
          {{ 'Referral Points' | translate }}
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="history">
    
        <ion-list  *ngSwitchCase="'scanned'">
          <ng-container *ngIf="coupon_list.length == 0">
            <div class="no-history">
              <img src="assets/imgs/history.png">
              <p>{{'No History' | translate}}</p>
            </div>
          </ng-container>
          <!-- (click)="goOnPointDetailPage(list.id)" -->
          <ion-item *ngFor="let list of coupon_list; let i=index" >
            <div class="left-block">
              <!-- <p>{{'Scanned Points' | translate}}</p> -->
              <span *ngIf="list.type == 'box' "><strong>{{'Coupon Code' | translate}} : </strong> {{list.coupon_code}} <br>({{list.scan_by_retailer_date | date:'d MMMM y, h:mm a'}})</span>
              <span *ngIf="list.type == 'individual' "><strong>{{'Coupon Code' | translate}} : </strong> {{list.coupon_code}} <br>({{list.scan_by_karigar_date | date:'d MMMM y, h:mm a'}})</span>
            </div>
            <div class="right-block">
              <h2>{{list.coupon_value}} <span>PT</span></h2>
            </div>
          </ion-item>
        </ion-list>
        
        <ion-list  *ngSwitchCase="'referral'">
          
          <ng-container *ngIf="ref_kar.length == 0">
            <div class="no-history">
              <img src="assets/imgs/history.png">
              <p>{{'No History' | translate}}</p>
            </div>
          </ng-container>
          <ion-item *ngFor="let row of ref_kar;">
            <div class="left-block">
              <p>{{row.summary}}</p>
              <span>{{row.date_refered | date:'d MMMM y'}}</span>
            </div>
            <div class="right-block">
              <h2>{{row.coupon_value}} <span>PT</span></h2>
            </div>
          </ion-item>
        </ion-list>
      </div>
    
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>