<ion-header>
    <ion-navbar>
        <ion-title>Shipped Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="shipped-detail" >
        <div class="content edit-content" *ngIf="karigar_gift.shipping_address" >
            <p>Shipping Address</p>
            <a *ngIf="!shipped_detail.shipped_type && edit=='' && karigar_gift.gift_status=='Pending'" class="edit-field" (click)="edit='1'"><i class="material-icons">create</i></a>
            <h1 *ngIf="edit==''">{{karigar_gift.shipping_address}}</h1> 
            
            <div *ngIf="edit=='1'">
                <textarea palceholder="Shipping Address" name="shipping_address " #shipping_address ="ngModel" [(ngModel)]="karigar_gift.shipping_address" ></textarea>
                <button ion-item class="cs-btn btn-radius mb0 mt10" [disabled]="karigar_gift.shipping_address==''" (click)="editAddress()">Save</button>
            </div>
        </div>
        <div *ngIf="shipped_detail.shipped_type">
            <div class="content">
                <p>Shipped By</p>
                <h1>{{shipped_detail.shipped_type}}</h1> 
            </div>
            <div class="content" >
                <p>Estimate Delivery Time</p>
                <h1>{{shipped_detail.estimated_date}}</h1>
            </div>
            <div class="content">
                <p>Shipping Information</p>
                <h1 [innerHTML]="shipped_detail.shipping_information" (click)="goto_link(shipped_detail.shipping_information)" ></h1>
            </div>
        </div>
    </div>
    <div class="margin-padding">
        <div class="phone">
            <div class="phone-head">
                <h1>{{gift_detail.gift_title}}</h1>
            </div>
            <div class="phone-img">
                <!-- <img [src]="upload_url+gift_detail.gift_image"> -->
                <img [src]="gift_detail.image">
            </div>
        </div>
        <div class="lorem-text" *ngIf="gift_detail.gift_specification != ''">
            <p><Strong>Specification : <div [innerHTML]="gift_detail.gift_specification"> </div></Strong></p>
        </div>
        <div class="fix-btn" *ngIf="receive_status == null">
            <button ion-item class="cs-btn btn-radius mb0" (click)="recvConfirmation(gift_detail.id)">Click Here if you Recieve</button>
        </div>
    </div>
</ion-content>

<ion-footer>
    
</ion-footer>
<!-- {{gift_detail.gift_specification}} -->
